{% extends "base.html" %}
{% block scripts %}
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
{% endblock %}
{% block content %}

<div class="h-100 p-5 bg-body-tertiary border rounded-3">
  <div class="container-fluid py-5">
    <h1>Interview Joel</h1>
      <form method="POST">
        {{ form.hidden_tag() }}
        <label for="question1" class="form-label">Ask me questions about my background</label>
        <br>
        <div class="mb-3">
          <div class="input-group">
          {{ form.question(class="form-control", placeholder=question, id="question1") }}
          {% if n_questions >= 2 %}
            {{ form.submit(class="btn btn-outline-info active") }}
            <button class="btn btn-outline-info" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasEmail" aria-controls="offcanvasExample">
              Hire me
            </button>
          {% else %}
          {{ form.submit(class="btn btn-outline-info") }}
          {% endif %}
          </div>
        </div>
      </form>
    {% for mess in get_flashed_messages() %}
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{ mess|safe }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}


  {% if qa %}
    <h3>Previous questions...</h3>
<!--<div class="h-100 p-5 bg-body-tertiary border rounded-3">-->
<!--  <div class="container-fluid py-5">-->

    <ul>
      {% for qa_tuple in qa[::-1] %}
        <li>Q: {{ qa_tuple[0] }}</li>
        <li>A: {{ qa_tuple[1]|safe }}</li>
        <br>
      {% endfor %}
    </ul>
<!--  </div>-->
<!--</div>-->
  {% endif %}
  </div>
</div>

<div id=myModal class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Welcome</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>This app is powered by a language model. It looks at my resume and other sources to answer questions about my background</p>
      </div>
    </div>
  </div>
</div>

<!-- email offcanvas form -->

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasEmail" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Hire me</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      Contact Joel to set up a real interview
      <form method="POST">
        <div class="mb-3">
        {{ email_form.hidden_tag() }}
        </div>
        <div class="mb-3">
          {{ email_form.email.label(class="form-label") }} {{ email_form.email(class="form-control", placeholder="example@email.com") }}
        </div>
        <div class="mb-3">
          {{ email_form.subject.label(class="form-label") }} {{ email_form.subject(class="form-control", placeholder="Set up an interview") }}
        </div>
        <div class="mb-3">
          {{ email_form.body.label(class="form-label") }} {{ email_form.body(class="form-control") }}
        </div>
        <div class="mb-3">
          {{ email_form.submit() }}
        </div>
      </form>
      <div class="mb-3">
        {% if email_sent %}
          <h2>Email sent</h2>
        {% endif %}
      </div>
  </div>
</div>


<!--Intro modal-->
{% if n_questions == 0 %}
<script>
	$(document).ready(function(){
		$("#myModal").modal('show');
	});
</script>
{% endif %}

{% endblock content %}