{% extends "base.html" %}

{% block content %}
<div class="h-100 p-5 bg-body-tertiary border rounded-3">
  <div class="container-fluid py-5">
    <h1>Interview Joel</h1>
      <form method="POST">
        {{ form.hidden_tag() }}
        <label for="question1" class="form-label">Ask me questions about my background</label>
        <br>
        <div class="mb-3">
          <div class="input-group">
          {{ form.question(class="form-control", placeholder=question, id="question1") }}
          {% if qa|length >= 2 %}
            {{ form.submit(class="btn btn-outline-info active") }}
            <a type="button"
                    class="btn btn-outline-info"
                    href="mailto:sprunger.joel@gmail.com? &subject=Schedule an interview">Hire me</a>
          {% else %}
          {{ form.submit(class="btn btn-outline-info") }}
          {% endif %}
          </div>
        </div>
      </form>
    {% for mess in get_flashed_messages() %}
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        {% if "resume" in mess %}
          {{ mess.split('resume')[0] }}<a href="{{ url_for('core.download_resume') }}" target="_blank">resume</a>
        {% else %}
          {{ mess }}
        {% endif %}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}

  </div>
</div>
  {% if qa %}
<div class="h-100 p-5 bg-body-tertiary border rounded-3">
  <div class="container-fluid py-5">
    <h3>Previous questions...</h3>
    <ul>
      {% for qa_tuple in qa[::-1] %}
        <li>Q: {{ qa_tuple[0] }}</li>
        <li>A: {{ qa_tuple[1] }}</li>
        <br>
      {% endfor %}
    </ul>
  </div>
</div>
  {% endif %}
{% endblock content %}